@use '../base/mixins' as mixins;

.course-inner {
  padding-top: var(--indent);

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;

    @include mixins.xl {
      margin-bottom: 40px;
    }

    @include mixins.lg {
      margin-bottom: 30px;
    }

    @include mixins.md {
      margin-bottom: 20px;
      grid-template-columns: 1fr;
    }
  }

  &__left {
    background-color: var(--dark-card);
    border-radius: 14px;
    padding: 70px;

    @include mixins.lg {
      padding: 40px;
    }

    @include mixins.md {
      order: 1;
    }

    @include mixins.xs {
        padding: 25px;
    }
  }

  &__left-title {
    font-weight: 500;
    font-size: 56px;
    line-height: calc(65/56*100%);
    color: var(--primary);
    margin-bottom: 10px;

    @include mixins.xl {
      font-size: 52px;
    }

    @include mixins.lg {
      font-size: 40px;
    }

    @include mixins.md {
        font-size: 32px;
    }

    @include mixins.sm {
        font-size: 26px;
    }
  }

  &__left-subtitle {
    font-weight: 500;
    font-size: 32px;
    line-height: calc(40/32*100%);
    margin-bottom: 25px;

    @include mixins.xl {
      font-size: 30px;
    }

    @include mixins.lg {
      font-size: 24px;
    }

    @include mixins.md {
        font-size: 22px;
        margin-bottom: 20px;
    }

    @include mixins.sm {
        font-size: 20px;
        margin-bottom: 15px;
    }
  }

  &__elems {
    display: grid;
    gap: 15px;

    @include mixins.lg {
      gap: 10px;
    }
  }

  &__elem {
    display: flex;
    gap: 10px;

    @include mixins.lg {
      align-items: start;
    }
  }

  &__elem-text {
    font-weight: 400;
    font-size: 20px;
    line-height: calc(28/20*100%);

    @include mixins.lg {
      font-size: 18px;
    }

    span {
      font-weight: 500;
    }
  }

  &__right-wrapper {
    border-radius: 14px;
    overflow: hidden;
    height: 100%;
    position: relative;

    @include mixins.md {
      padding-bottom: 53%;
      height: auto;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    @include mixins.xl {
      gap: 15px;
    }

    @include mixins.lg {
      grid-auto-flow: column;
      gap: 10px;
      overflow-x: auto;
      padding-bottom: 10px;
    }
  }

  &__item {
    @include mixins.lg {
      width: 320px;
    }
  }

  &__item-wrapper {
    overflow: hidden;
    border-radius: 14px;
    padding-bottom: calc(230/350*100%);
    position: relative;
  }

  &__item-info {
    padding: 25px 20px 0;

    @include mixins.lg {
      padding: 15px 10px 0;
    }
  }

  &__item-suptitle {
    color: var(--primary);
  }

  &__item-title,
  &__item-suptitle {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32/24*100%);

    @include mixins.lg {
      font-size: 22px;
    }
  }

  &__item-list,
  &__item-text {
    margin-top: 10px;

    @include mixins.lg {
      margin-top: 5px;
    }
  }

  &__item-list {
    display: grid;
    gap: 7px;

    @include mixins.lg {
      gap: 5px;
    }

    li::before {
      top: 12px;
    }
  }
}