@use '../base/mixins' as mixins;

.header {
  background-color: var(--dark-brown);

  &.no-bg {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    max-width: 1920px;
    background-color: transparent;
  }

  &__top {
    padding: 25px 0;

    @include mixins.md {
      padding: 15px 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 120px;

    @include mixins.xl {
      gap: 35px;
    }
  }

  &__map {
    display: flex;
    align-items: center;
    gap: 15px;

    @include mixins.xl {
      gap: 10px;
    }

    @include mixins.lg {
      display: none;
    }
  }

  &__map-text {
    font-size: 16px;
    line-height: calc(24/16*100%);
    color: var(--light-color);

    @include mixins.xl {
      font-size: 14px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 524px;
    width: 100%;

    @include mixins.md {
      max-width: none;
      width: auto;
    }
  }

  &__social-block {
    width: 100%;
  }

  &__social-left {
    @include mixins.md {
      display: none;
    }
  }
}

.header-bottom {
  padding: 10px 0;
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.1);
  border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    margin-top: 0;
    background-color: var(--page-bg);
    z-index: 998;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    @include mixins.xl {
      gap: 15px;
    }
  }

  &__menu-list {
    display: flex;
    align-items: center;
    gap: 50px;

    @include mixins.xl {
      gap: 20px;
    }

    @include mixins.lg {
      display: none;
    }
  }

  &__menu-item {
    position: relative;

    &:has(.submenu__wrapper) {
      &::after {
        position: absolute;
        content: '';
        right: -12px;
        top: 12px;
        width: 8px;
        height: 4px;
        background-image: url(../images/icons/arrow.svg);
        background-repeat: no-repeat;
        transition: all .3s ease-in-out;
      }
    }

    &:hover {

      &::after {
        rotate: -90deg;
      }

      .header-bottom__menu-link {
        background-color: var(--accent);
        color: var(--light-color);
      }

      &>.submenu {

        &__wrapper {
          height: fit-content;
          opacity: 1;
          z-index: 1;
          transform: scaleX(1);
        }

      }
    }

    .submenu {
      padding: 24px 0 23px 37px;
      background-color: var(--dark-brown);
      border-radius: 16px;
      width: max-content;

      &__wrapper {
        transition: all .3s ease-in-out;
        transform: scaleX(0);
        opacity: 0;
        z-index: -10;
        left: 0;
        position: absolute;
        padding-top: 31px;
      }

      &__item {
        position: relative;
        padding-right: 40px;

        &:has(.submenu) {
          &::after {
            position: absolute;
            content: '';
            right: 25px;
            top: 12px;
            width: 8px;
            height: 4px;
            background-image: url(../images/icons/arrow.svg);
            background-repeat: no-repeat;
            transition: all .3s ease-in-out;
          }
        }

        &:hover {
          &::after {
            rotate: -90deg;
          }

          &>.submenu__link {
            font-weight: 600;
          }

          &>.submenu {
            transform: translateX(100%) scaleX(1);
            opacity: 1;
          }
        }
      }

      &__link {
        font-size: 18px;
        color: var(--default-color);
        transition: all .1s ease-in-out;
        padding: 5px 0;
        display: inline-block;
      }

      .submenu {
        opacity: 0;
        transition: all .3s ease-in-out;
        position: absolute;
        transform: translateX(100%) scaleX(0);
        width: 290px;
        right: 0;
        top: 0;
        z-index: 1;
        padding: 15px 40px;

        &__item.third-level {
          padding: 10px 0;
          border-bottom: 1px solid #F1F5F7;

          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }

  &__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16*100%);
    color: var(--light-color);
  }

  &__search {
    background-color: #544E4B;
    border-radius: 50px;
    padding: 11px 23px;
    display: flex;
    align-items: center;
    gap: 7px;
    max-width: 251px;
    width: 100%;

    svg {
      height: fit-content;
    }
  }


  &__search-inp {
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16*100%);
    color: var(--light-color);

    &::placeholder {
      font-size: 16px;
      line-height: calc(24/16*100%);
      color: var(--light-color);
      opacity: 0.3;
    }

  }

  &__menu-map {
    display: none;

    @include mixins.lg {
      display: flex;
    }

    @include mixins.md {
      display: none;
    }
  }
}