@use '../base/mixins' as mixins;

.range-services {
  padding-top: var(--indent);

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @include mixins.xl {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    @include mixins.lg {
        grid-auto-flow: column;
        padding-bottom: 10px;
        overflow-x: auto;
        gap: 10px;
    }
  }

  &__item{
    @include mixins.lg {
        width: 320px;
    }
  }
}