@use '../base/mixins' as mixins;

.sec-6 {
  padding-top: var(--indent);

  &__title {
    margin-bottom: 0;
  }

  &__element-button {
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    margin-top: auto;
    background-color: rgba(243, 114, 33, 0);
    color: #F37021;
    border: 1px solid #f37021;
    border-radius: 100px;
    min-height: 56px;
    height: 56px;
    max-width: 182px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: #F69459;
      color: #fff;
    }
  }

  &__catalog-cursor {
    @include mixins.lg {
      display: none;
    }

    @include mixins.md {
      display: flex;
    }
  }

  &__catalog {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    @include mixins.xl {
      grid-template-columns: repeat(4, 1fr);
    }

    @include mixins.lg {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mixins.md {
      grid-auto-flow: column;
      padding-bottom: 10px;
      overflow-x: auto;
    }

  }

  &__element {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1019607843);

    @include mixins.md {
      width: 300px;
    }

    &:last-child,
    &:nth-last-child(2) {
      @include mixins.xl {
        grid-column: span 2;
        flex-direction: row;
      }
    }

    &:nth-last-child(2) {
      @include mixins.lg {
        flex-direction: column;
        grid-column: span 1;
      }
    }

    &:last-child {
      @include mixins.lg {
        grid-column: span 3;

        .sec-6__element-image {
          max-width: 45%;
        }
      }

      @include mixins.md {
        flex-direction: column;
        grid-column: span 1;

        .sec-6__element-image {
          max-width: 100%;
        }
      }
    }
  }

}

.sec-6__form-layout {
  margin-top: 50px;
  background-color: var(--dark-card);
  border-radius: 14px;
  padding: 60px;
  position: relative;
}

.sec-6__form-image {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 64%;
  height: auto;
}

.sec-6__form-image ._image-abs {
  padding-bottom: 73.568%;
}

.sec-6__form-image ._image-abs img {
  position: absolute;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.sec-6__form-image ._image-abs img._active {
  opacity: 1;
}

.sec-6__form-image ._image-abs ._tablet01 {
  z-index: 3;
}

.sec-6__form-image ._image-abs ._tablet02 {
  z-index: 4;
}

.sec-6__form-image ._image-abs ._tablet03 {
  z-index: 5;
}

.sec-6__form-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 125%;
  color: #FFFFFF;
}

.sec-6__form-title ._dinamic-number {
  color: #F37021;
}

.sec-6__form-subtitle {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 400;
  line-height: 136.3636363636%;
  color: #FFFFFF;
}

.sec-6__form-li {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 157.1428571429%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #999999;
}

.sec-6__form-methodbox {
  margin-top: 10px;
}

.sec-6__form-inputs {
  width: 100%;
  max-width: 810px;
  position: relative;
  z-index: 6;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.sec-6__form-number {
  width: 100%;
  max-width: 380px;
  min-height: 96px;
  border-radius: 100px;
  padding-inline: 45px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 144.4444444444%;
  color: #000;
  cursor: text;
}

.sec-6__form-submit {
  width: 100%;
  max-width: 420px;
  min-height: 96px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 700;
}

.sec-6__form-policy {
  position: relative;
  margin-inline: 26px auto;
}


.sec-6__element-image {
  width: 100%;
}

.sec-6__element-image ._image-abs {
  width: 100%;
  padding-bottom: 70%;

  @include mixins.xl {
    padding-bottom: 85%;
  }

  @include mixins.lg {
    padding-bottom: 70%;
  }
}

.sec-6__element-image ._image-abs img {
  border-radius: 12px;
}

.sec-6__element-title {
  font-size: 18px;
  line-height: 144.4444444444%;
  font-weight: 500;
  color: #FFFFFF;
}

.sec-6__element-info {
  margin-top: 5px;
  font-size: 14px;
  line-height: 157.1428571429%;
  font-weight: 400;
  color: #9D9390;
  margin-bottom: 15px;
}

.sec-6__element-textbox {
  padding: 20px 25px 25px 25px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: background-color 0.25s ease-in-out;
}

.sec-6__element-checkbox {
  display: none;
}

.sec-6__element-checkbox:checked+.sec-6__element-textbox {
  background-color: #36302B;
}

.sec-6__element-checkbox:checked+.sec-6__element-textbox .sec-6__element-button {
  background-color: #F37021 !important;
  color: #fff !important;
}


@media (max-width: 1230px) {

  .sec-6__element-textbox {
    padding: 20px 20px 25px 20px;
  }

  .sec-6__element-title br,
  .sec-6__element-info br {
    display: none;
  }


  .sec-6__form-layout {
    margin-top: 40px;
    padding: 30px;
  }

  .sec-6__form-subtitle {
    font-size: 21px;
  }

  .sec-6__form-li {
    margin-top: 25px;
  }

  .sec-6__form-number,
  .sec-6__form-submit {
    min-height: 85px;
  }

  .sec-6__form-number {
    max-width: 320px;
  }

  .sec-6__form-submit {
    max-width: 380px;
  }

  .sec-6__form-policy {
    margin-inline: 0 auto;
  }

  .sec-6__element-textbox {
    padding: 15px 10px;
  }

  .sec-6__element-info {
    margin-bottom: 10px;
  }

  .sec-6__element-button {
    min-height: 50px;
  }

  .sec-6__element-title br,
  .sec-6__element-info br {
    display: none;
  }
}

@media (max-width: 991.8px) {

  .sec-6__element-button {
    min-height: 50px;
  }

  .sec-6__form-layout {
    margin-top: 30px;
    padding: 25px 20px;
  }

  .sec-6__form-title {
    font-size: 28px;
  }

  .sec-6__form-subtitle {
    margin-top: 10px;
    font-size: 20px;
  }

  .sec-6__form-title,
  .sec-6__form-subtitle {
    position: relative;
    z-index: 7;
  }

  .sec-6__form-title br,
  .sec-6__form-subtitle br {
    display: none;
  }

  .sec-6__form-li {
    margin-top: 20px;
  }

  .sec-6__form-inputs {
    margin-top: 15px;
    max-width: 340px;
    justify-content: center;
  }

  .sec-6__form-number,
  .sec-6__form-submit {
    min-height: 80px;
    max-width: 100%;
    border-radius: 40px;
    box-shadow: 0 0 20px -10px #000;
  }

  .sec-6__form-policy {
    margin: unset;
  }

  .sec-6__element-textbox {
    padding: 15px 9px;
  }

  .sec-6__element:not(:last-child) .sec-6__element-title br,
  .sec-6__element:not(:last-child) .sec-6__element-info br {
    display: none;
  }


  .sec-6__element:last-child .sec-6__element-title br,
  .sec-6__element:last-child .sec-6__element-info br {
    display: none;
  }
}

@media (max-width: 767.98px) {

  .sec-6__element-textbox {
    padding: 15px 10px;
  }

  .sec-6__element-info {
    margin-bottom: 10px;
  }

  .sec-6__element-title br,
  .sec-6__element-info br {
    display: none;
  }

  .sec-6__element-button {
    max-width: 100%;
  }

  .sec-6__form-layout {
    padding: 20px 15px;
    overflow: hidden;
  }

  .sec-6__form-method {
    position: relative;
    z-index: 7;
  }

  .sec-6__form-title {
    font-size: 26px;
  }

  .sec-6__form-image {
    right: -16%;
    bottom: -10%;
    max-width: 80%;
    transform: rotate(-18deg);
  }
}

@media (max-width: 575.98px) {
  .sec-6__form-li {
    margin-inline: -15px;
    padding-inline: 15px;
    margin-top: 135px;
    padding-top: 15px;
    position: relative;
    z-index: 7;
    background: rgb(38, 33, 29);
    background: linear-gradient(0deg, rgb(38, 33, 29) 20%, rgba(38, 33, 29, 0.25) 80%, rgba(38, 33, 29, 0) 100%);
  }

  .sec-6__form-methodbox {
    padding: 10px 15px 15px 15px;
    background: #221e1b;
    margin: 0 -15px !important;
  }

  .sec-6__form-inputs {
    margin-top: unset;
    max-width: 400px;
  }

  .sec-6__form-image {
    right: -18px;
    bottom: 200px;
    transform: rotate(-18deg);
    min-width: 400px;
  }

  .sec-6__form-number,
  .sec-6__form-submit {
    min-height: 75px;
  }

  .sec-6__form-accept {
    padding-left: 21px;
  }

  .sec-6__form-layout .sec-6__form-methodbox.sec-12__form-methodbox {
    padding: 10px 15px 15px 15px !important;
  }
}