@use '../base/mixins' as mixins;

.sec-5__content {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.sec-5__item {
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sec-5__item-title {
  font-weight: 500;
}

.sec-5__item-image {
  padding-bottom: 76.316%;
}

.sec-5__item-image img {
  border-radius: 14px;
}

.sec-5__item-textbox {
  padding: 25px;
  background-color: #26211D;
  border-radius: 14px;
}

.sec-5__item-button {
  margin-top: 25px;
  border-radius: 100px;
  min-height: 76px;
  max-width: 330px;
  text-transform: uppercase;
  font-weight: 500;
}

.sec-5__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 10px;
}

.sec-5__slide {
  background-color: #26211D;
  border-radius: 14px;
  width: 100%;
  max-width: calc(50% - 15px);
  padding: 45px;
}

.sec-5__slide-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 126.6666666667%;
}

.sec-5__slide-title span {
  color: #f37021;
}