@use './mixins' as mixins;

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-bg);
  color: var(--default-color);
  font-family: var(--font-default);
  font-weight: 400;
  text-wrap: balance;
  font-size: var(--defaul-font-size);
  line-height: var(--defaul-line-height);
}

.body_wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100% !important;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a {
  color: var(--link-color);
}

.hidden {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

.relative {
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: none;
}

._img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

._image-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.space-sec {
  padding-top: var(--indent);
}

.space-sec-md {
  padding-top: var(--indent-md);
}

.space-negative-sec {
  margin-top: calc(var(--indent) * -1);
}

.space-negative-sec-md {
  margin-top: calc(var(--indent-md) * -1);
}

._white-text {
  color: var(--light-color);
}


._main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 12px;
  width: 100%;
  height: 96px;
  background-color: var(--primary);
  border-radius: 100px;
  font-family: var(--font-default);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(22/14*100%);
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
  cursor: pointer;
  transition: all .3s ease-in-out;


  @include mixins.lg {
    height: 80px;
  }

  @include mixins.sm {
    height: 65px;
    font-size: 12px;
  }

  &:hover {
    background-color: var(--primary-hover);
  }

  &:active {
    background: var(--primary);
  }
}

._whatsapp-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px;
  width: 100%;
  height: 96px;
  background: var(--whatsapp-color);
  border-radius: 100px;
  font-family: var(--font-default);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(22/14*100%);
  text-align: center;
  color: var(--light-color);
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s ease-in-out;


  svg {
    width: 20px;
    height: 20px;
  }


  @include mixins.lg {
    height: 80px;
  }

  @include mixins.sm {
    height: 65px;
    font-size: 12px;
  }

  &:hover {
    background-color: var(--whatsapp-hover);
  }

  &:active {
    background: var(--whatsapp-color);
  }
}

._transparent-btn {
  height: 96px;
  padding: 12px;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--gray);
  border-radius: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(22/14*100%);
  color: var(--gray);
  cursor: pointer;
  text-transform: uppercase;
  transition: all .3s ease-in-out;

  svg {
    width: 20px;
    height: 20px;
  }


  @include mixins.lg {
    height: 80px;
  }

  @include mixins.sm {
    height: 65px;
    font-size: 11px;
  }

  &:hover {
    background-color: var(--gray);
    color: var(--light-color);
  }

  &:active {
    background-color: var(--gray);
  }
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 10px;

  svg {
    max-width: 150px;

    @include mixins.xs {
      max-width: 140px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(22/14*100%);
    color: var(--light-color);
  }
}

.social-block {
  display: flex;
  align-items: center;
  gap: 30px;

  &__left {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 298px;
    width: 100%;
  }

  &__btn {
    height: 54px;
    max-width: 170px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(22/14*100%);
    text-align: center;
    text-transform: uppercase;
    color: var(--light-color);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 54px;
    min-height: 54px;
    min-width: 54px;
    padding: 8px;
    border-radius: 50%;
    transition: all .3s ease-in-out;

  }

  &__whatsapp {
    background-color: var(--whatsapp-color);

    &:hover {
      background-color: var(--whatsapp-hover);
    }

  }

  &__telegram {
    background-color: var(--telegram-color);

    &:hover {
      background-color: var(--telegram-hover);
    }

  }

  &__phone {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__phone-number {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32/24*100%);
    transition: all 0.3s ease-in-out;
    color: var(--light-color);
    width: max-content;

    @include mixins.xs {
      font-size: 20px;
    }

    &:hover {
      color: var(--primary);
    }
  }

  &__phone-link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(22/14*100%);
    text-decoration: underline;
    color: var(--primary);
    text-underline-offset: 3px;
  }
}

.swiper-navigation {
  position: relative;
  max-width: 158px;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  height: 84px;
  background-color: var(--accent);
  border-radius: 100px;

  @include mixins.lg {
    height: 70px;
  }

  @include mixins.sm {
    height: 60px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    max-width: 79px;
    width: 100%;
    transform: none;
    padding: 26px;
    margin: 0;
    border-radius: 0;

    @include mixins.lg {
      height: 70px;
    }

    @include mixins.sm {
      height: 60px;
      padding: 20px;
    }

    &::after {
      display: none;
    }

    &:hover {
      background-color: var(--accent-hover);
    }
  }

  .swiper-button-next {
    rotate: 180deg;
  }
}

.swiper-horizontal>.swiper-scrollbar {
  position: static;
  height: 12px;
  background-color: var(--dark-brown);
  border-radius: 40px;
  margin-top: 30px;
}

.swiper-scrollbar-drag {
  background-color: var(--primary);
}

.wrapper-brown {
  background-color: var(--dark-brown);
  margin-top: var(--indent);
}

._orange-btn {
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-hover);
  }
}

.play {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .play__inner {
      scale: 1.25;
      background-color: var(--primary-hover);
    }
  }

  &:active {
    .play__inner {
      background-color: var(--primary);
    }
  }

  &__inner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
  }
}

.list-point {
  li {
    position: relative;
    padding-left: 15px;

    &::before {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: var(--primary);
      left: 0;
      top: 9px;
    }
  }
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20px;


  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px 0;
  }


  &__point {
    position: relative;


    &::before {
      content: '/';
      color: var(--primary);
      margin: 0 3px;
    }

    &:first-child::before {
      display: none;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(22/14*100%);
    color: var(--primary);

    &.active {
      color: var(--light-text);
    }
  }
}

.divider {
  margin-top: var(--indent);
  width: 100%;
  height: 1px;
  background-color: rgba($color: #FFFFFF, $alpha: 0.1);

  @include mixins.lg {
    display: none;
  }
}

._morebox {
  transition: all 0.25s ease-in-out;
  pointer-events: all;
  opacity: 1;
  z-index: 0;
  transform: translateY(0);
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    transform: rotate(45deg);
    background-color: #fff;
    pointer-events: none;
    bottom: -3.31px;
    left: 0;
    right: 0;
    margin-inline: auto;
  }

  &._noactive {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
  }
}

.cursor {
  display: none;

  path {
    fill: var(--primary);
  }

  @include mixins.lg {
    display: flex;
    justify-content: center;
  }
}

.politic-text {
  font-weight: 400;
  font-size: 15px;
  line-height: calc(22/15*100%);
  text-align: center;
  color: var(--accent);

  a {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.pagination {
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  @include mixins.xl {
    margin: 30px auto;
  }

  @include mixins.lg {
    margin: 20px auto;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 12px 20px 14px;
    line-height: 1;
    color: var(--light-text);
    transition: all .3s ease-in-out;
    border: 1px solid var(--light-text);
    border-radius: 40px;

    svg {
      transform: translateY(3px);

      path {
        transition: all .3s ease-in-out;
        fill: var(--light-text);
      }
    }

    &.pagination-prev {
      svg {
        rotate: 180deg;
        transform: translateY(-3px);
      }
    }

    &:hover {
      color: var(--light-color);
      background-color: var(--primary);
      border: 1px solid var(--light-color);

      svg path {
        fill: var(--light-color);
      }
    }
  }

  &__steps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__step {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 50%;
    background-color: var(--page-bg);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--light-text);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-text);
    transition: all .3s ease-in-out;

    @include mixins.xs {
      width: 38px;
      min-width: 38px;
      height: 38px;
      min-height: 38px;
    }

    &:hover,
    &.active {
      background-color: var(--primary);
      color: var(--light-color);
      border: 1px solid var(--primary);
    }
  }
}

.more-btn {
  margin: 0 auto;
  gap: 10px;
  max-width: 360px;
}

.theContent {
  p {
    margin: 10px 0;
    font-size: 18px;
    line-height: calc(26/18*100%);

    &:first-child {
      margin-top: 0;
    }

    @include mixins.sm {
      font-size: 16px;
    }
  }

  h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: calc(46/36*100%);
    margin: 70px 0 40px;

    @include mixins.xxl {
      margin: 60px;
    }

    @include mixins.xl {
      font-size: 32px;
      margin-top: 40px;
    }

    @include mixins.lg {
      font-size: 30px;
      margin: 30px 0;
    }

    @include mixins.md {
      font-size: 28px;
      margin: 25px 0 20px;
    }
  }

  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: calc(42/32*100%);
    margin: 70px 0 30px;

    @include mixins.xxl {
      margin-top: 60px;
    }

    @include mixins.xl {
      margin-top: 40px;
      font-size: 30px;
    }

    @include mixins.lg {
      margin: 30px 0 20px;
      font-size: 28px;
    }

    @include mixins.md {
      font-size: 26px;
      margin: 25px 0 15px;
    }
  }

  h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: calc(42/32*100%);
    margin: 50px 0 20px;

    @include mixins.xxl {
      margin-top: 40px;
    }

    @include mixins.xl {
      margin-top: 30px;
      font-size: 28px;
    }

    @include mixins.lg {
      margin: 25px 0 20px;
      font-size: 26px;
    }

    @include mixins.md {
      font-size: 24px;
      margin: 20px 0 15px;
    }
  }

  h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(32/24*100%);
    margin: 40px 0 10px;

    @include mixins.xl {
      margin: 30px 0 10px;
    }

    @include mixins.lg {
      margin: 20px 0 10px;
    }

    @include mixins.sm {
      margin: 10px 0;
    }
  }

  h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28/20*100%);
    margin: 20px 0 10px;

    @include mixins.sm {
      margin: 10px 0;
    }
  }

  h6 {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(24/18*100%);
    margin: 15px 0 10px;

    @include mixins.sm {
      margin: 10px 0;
    }
  }

  ul {
    display: grid;
    gap: 7px;
    margin: 10px 0 15px;

    @include mixins.md {
      margin: 15px 0;
    }

    li {
      font-weight: 400;
      font-size: 18px;
      line-height: calc(26/18*100%);
      position: relative;
      padding-left: 15px;

      @include mixins.sm {
        font-size: 16px;
      }

      &::before {
        content: '';
        left: 0;
        top: 5px;
        width: 5px;
        height: 5px;
        min-width: 5px;
        min-height: 5px;
        margin-top: 11px;
        border-radius: 50%;
        position: absolute;
        background-color: var(--primary);
      }
    }
  }

  img {
    width: 100%;
    border-radius: 14px;
    margin: 20px 0 40px;

    @include mixins.xl {
      margin: 20px 0 30px;
    }

    @include mixins.md {
      margin: 15px 0 20px;
    }
  }
}

.search {
  background-color: #544E4B;
  border-radius: 50px;
  padding: 11px 23px;
  display: flex;
  align-items: center;
  gap: 7px;
  max-width: 251px;
  width: 100%;
  position: relative;

  svg {
    height: fit-content;
  }

  .ajax-search-results {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: #544e4b;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    left: 0;
    border-radius: 14px;
    max-height: 400px;
    overflow-y: auto;

  }

  .search-loading,
  .search-error,
  .no-results,
  .search-result-item a {
    display: block;
    padding: 5px 15px;
    color: var(--light-color);
  }

  .search-result-item a {
    transition: all .3s ease-in-out;

    &:hover {
      color: var(--primary);
      background-color: var(--dark-card);
    }
  }

  .search-result-item {
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);

    &:last-child {
      border: none;
    }
  }

  &__inp {
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16*100%);
    color: var(--light-color);

    &::placeholder {
      font-size: 16px;
      line-height: calc(24/16*100%);
      color: var(--light-color);
      opacity: 0.3;
    }
  }
}




















.sec-12__form-social {
  max-width: 140px;
  min-height: 42px;
  height: 42px;

  gap: 10px;
  color: #999999;
  border: 1px solid #999999;
  border-radius: 40px;
  transition: all 0.25s ease-in-out;
  text-transform: initial;
  cursor: pointer;
}

.sec-12__form-social svg {
  pointer-events: none;
}

.sec-12__form-social svg path {
  transition: all 0.25s ease-in-out;
}

.sec-12__form-social._callbtn svg path {
  fill: #999999;
}

.sec-12__form-social._whatsapp svg path {
  fill: #999999;
}

.sec-12__form-social._telegram svg path {
  fill: #999999;
}

.sec-12__form-social:hover._callbtn {
  background-color: transparent;
  border-color: #F37021;
  color: #F37021;
}

.sec-12__form-social:hover._callbtn svg path {
  fill: #F37021;
}

.sec-12__form-social:hover._telegram {
  background-color: transparent;
  border-color: var(--telegram-color);
  color: var(--telegram-color);
}

.sec-12__form-social:hover._telegram svg path {
  fill: var(--telegram-color);
}

.sec-12__form-social:hover._whatsapp {
  background-color: transparent;
  border-color: #25D366;
  color: #25D366;
}

.sec-12__form-social:hover._whatsapp svg path {
  fill: #25D366;
}

.sec-12__form-method {
  position: absolute;
  display: none !important;
}

.sec-12__form-method:checked+.sec-12__form-social {
  color: #fff;
}

.sec-12__form-method:checked+.sec-12__form-social svg path {
  fill: #fff;
}

.sec-12__form-method:checked+.sec-12__form-social._callbtn {
  background-color: #F37021;
  border-color: #F37021;
}

.sec-12__form-method:checked+.sec-12__form-social._telegram {
  background-color: var(--telegram-color);
  border-color: var(--telegram-color);
}

.sec-12__form-method:checked+.sec-12__form-social._whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}



.label-check {
  width: 100%;
  cursor: pointer;
  max-width: 140px;

  input {
    display: none;
  }

  input:checked+.label-check__inner {
    color: var(--light-color) !important;
    border-color: transparent;
    background-color: var(--primary);

    svg path {
      fill: var(--light-color);
    }
  }

  svg {
    pointer-events: none;
  }

  input:checked+.callbtn {
    background-color: var(--primary);
  }

  input:checked+.telegram {
    background-color: var(--telegram-color);
  }

  input:checked+.whatsapp {
    background-color: var(--whatsapp-color);
  }

  &__inner {
    height: 42px;
    gap: 10px;
    color: #999999;
    border: 1px solid #999999;
    border-radius: 40px;
    transition: all 0.25s ease-in-out;
    text-transform: initial;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 157.1428571429%;

    svg path {
      transition: all .3s ease-in-out;
      fill: #999999;
    }

    &:hover {
      background-color: transparent;
      color: var(--primary);
      border-color: var(--primary);
    }
    &.callbtn:hover {
      background-color: transparent;
      color: var(--primary);
      border-color: var(--primary);

      svg path {
        fill: var(--primary);
      }
    }
    &.callbtn:hover {
      background-color: transparent;
      color: var(--primary);
      border-color: var(--primary);

      svg path {
        fill: var(--primary);
      }
    }

    &.telegram:hover {
      background-color: transparent;
      color: var(--telegram-color);
      border-color: var(--telegram-color);

      svg path {
        fill: var(--telegram-color);
      }
    }

    &.whatsapp:hover {
      background-color: transparent;
      color: var(--whatsapp-color);
      border-color: var(--whatsapp-color);

      svg path {
        fill: var(--whatsapp-color);
      }
    }
  }
}












.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: var(--accent);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;

  &:active,
  &:hover {
    background-color: var(--accent-hover);
  }

  &::after {
    color: var(--light-color);
    font-size: 14px;
  }
}

.swiper-button-prev {
  left: 0;

  @media (max-width: 1600px) {
    left: 30px;
  }
}

.swiper-button-next {
  right: 0;

  @media (max-width: 1600px) {
    right: 30px;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 8px;

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: var(--light-color);
    opacity: 0.4;
    transition: all .3s ease-in-out;
    margin: 0 !important;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--accent);
  }
}

.marker {
  width: 25px;
  height: 25px;
  background-color: var(--primary);
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
}